[submodule "pathogen"]
	path = pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/snipmate.vim"]
	path = vim/bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/mru.vim"]
	path = vim/bundle/mru.vim
	url = git://github.com/vim-scripts/mru.vim.git
[submodule "vim/bundle/rest.vim"]
	path = vim/bundle/rest.vim
	url = git://github.com/vim-scripts/rest.vim.git
